#file proxysql.cfg

datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="127.0.0.1:6032;/tmp/proxysql_admin.sock"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:3306;/tmp/proxysql.sock"
    default_schema="information_schema"
    stacksize=1048576
    server_version="5.5.30"
    connect_timeout_server=3000
    monitor_username="admin"
    monitor_password="admin"
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
    monitor_read_only_timeout=500
    ping_interval_server=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
    connect_retries_on_failure=10
}


# defines all the MySQL servers
mysql_servers =
(
   {
       address = "mysql"
       port = 3306
       hostgroup = 1
       status = "ONLINE"
       weight = 1
       compression = 0
       max_connections = 490
   },
   {
       address = "mysql"
       port = 3306
       hostgroup = 2
       status = "ONLINE"
       weight = 1
       compression = 0
       max_connections = 490
   },
   {
       address = "mysql2"
       port = 3306
       hostgroup = 2
       status = "ONLINE"
       weight = 1000
       compression = 0
       max_connections = 490
   }
)


# defines all the MySQL users
mysql_users:
(
   {
       username = "admin"
       password = "admin"
       default_hostgroup = 1
       active = 1
       transaction_persistent = 1
   }
)


#defines MySQL Query Rules
mysql_query_rules:
(
    {
        rule_id = 10
        active = 1
        username = "admin"
        match_digest = "^INSERT .*$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 20
        active = 1
        username = "admin"
        match_digest = "^UPDATE .*$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 30
        active = 1
        username = "admin"
        match_digest = "^DELETE .*$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 40
        active = 1
        username = "admin"
        match_digest = "FOR UPDATE$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 50
        active = 1
        username = "admin"
        match_digest = "LOCK IN SHARE MODE$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 60
        active = 1
        username = "admin"
        match_digest = "^SELECT LAST_INSERT_ID()"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 70
        active = 1
        username = "admin"
        match_digest = "^SET .*"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 80
        active = 1
        username = "admin"
        match_digest = "^START TRANSACTION$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 90
        active = 1
        username = "admin"
        match_digest = "^BEGIN$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 100
        active = 1
        username = "admin"
        match_digest = "^COMMIT$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 110
        active = 1
        username = "admin"
        match_digest = "^ROLLBACK$"
        destination_hostgroup = 1
        apply = 1
    },
    {
        rule_id = 200
        active = 1
        username = "admin"
        match_digest = "^SELECT .*$"
        destination_hostgroup = 2
        apply = 1
    },
    {
        rule_id = 210
        active = 1
        username = "admin"
        match_digest = "^EXPLAIN .*$"
        destination_hostgroup = 2
        apply = 1
    }
)

scheduler=
(
#  {
#    id=1
#    active=0
#    interval_ms=10000
#    filename="/var/lib/proxysql/proxysql_galera_checker.sh"
#    arg1="0"
#    arg2="0"
#    arg3="0"
#    arg4="1"
#    arg5="/var/lib/proxysql/proxysql_galera_checker.log"
#  }
)

mysql_replication_hostgroups=
(
    {
        writer_hostgroup=1
        reader_hostgroup=2
        comment="test repl 1"
    }
)
