redis:
  image: redis
  ports:
    - 6379:6379
amq:
  build: ./AMQ/
  container_name: docker_amq
  ports:
    - 61613:61613
    - 8161:8161
mysql:
  build: ./MySQL/
  container_name: docker_mysql
  ports:
   - 3306:3306
matecat:
  build: ./MateCat-Trusty/MateCatApache/
  container_name: docker_matecat
  ## Remove this environment block if you don't need it ##
  environment:
    XDEBUG_CONFIG: 192.168.99.1
    FILTERS_ADDRESS: http://10.11.1.1/
    SMTP_HOST: 10.30.1.225
    SMTP_PORT: 2637
  ## Remove this environment block if you don't need it ##

  volumes:
    - ~/PhpstormProjects/matecat:/var/www/matecat:rw
    - ~/PhpstormProjects/oauth_config_PRIVATE.ini:/var/www/matecat/inc/oauth_config.ini:rw
  ports:
    - 80:80
    - 7788:7788
    - 22
  links:
    - mysql
    - redis
    - amq