version: '3'

networks:
  matecat-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.1.0/24
          ip_range: 172.18.1.0/24
          gateway: 172.18.1.1

services:
  filters:
    build: ./MateCat-Trusty/MateCatFilters/
    container_name: docker_matecat_filter
    ports:
      - 8732:8732
    networks:
       - matecat-network

  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
       - matecat-network

  amq:
    build: ./MateCat-Trusty/AMQ/
    container_name: docker_amq
    ports:
      - 61613:61613
      - 8161:8161
    networks:
       - matecat-network

  ambassador:
    image: svendowideit/ambassador
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: "-name mysql_1 -name mysql_2 "
    networks:
       - matecat-network

  mysql:
    build: ./MateCat-Trusty/MySQL/
    container_name: docker_mysql
    ports:
     - 3307:3306
    links:
      - ambassador:mysql_2
    volumes:
      - /var/www/temporary_docker_mount_volume:/mnt/external_volume:rw
    networks:
       - matecat-network

  mysql2:
    build: ./MateCat-Trusty/MySQL2/
    container_name: docker_mysql2
    ports:
     - 3308:3306
    links:
      - ambassador:mysql_1
    volumes:
      - /var/www/temporary_docker_mount_volume:/mnt/external_volume:rw
    networks:
       - matecat-network

  proxysql:
    build: ./MateCat-Trusty/ProxySQL/
    container_name: docker_proxysql
    ports:
      - 6033:6033
      - 6032:6032
      - 3306:3306
    links:
      - mysql
      - mysql2
    volumes:
      - /var/www/temporary_docker_mount_volume:/mnt/external_volume:rw
    networks:
       - matecat-network

  matecat:
    build: ./MateCat-Trusty/MateCatApache/
    container_name: docker_matecat
    ## Remove this environment block if you don't need it ##
    environment:
      XDEBUG_CONFIG: 172.17.0.1
      FILTERS_ADDRESS: http://filters:8732/
      SMTP_HOST: 10.30.1.225
      SMTP_PORT: 2637
    ## Remove this environment block if you don't need it ##

    volumes:
      - /var/www/matecat:/var/www/matecat:rw
    ports:
      - 80:80
      - 7788:7788
      - 22
    networks:
       - matecat-network
    links:
      - proxysql
      - mysql
      - mysql2
      - redis
      - amq
      - filters

